/*@import url('https://fonts.googleapis.com/css?family=Myriad Pro:300,400,500,700');*/

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

.calculator_page {
	margin-top: 45px;
}

.calculator_wrapper {
	width: 1245px;
	margin: 0 auto;
}

.calc_head {
	border-top: 1px solid #989898;
	border-bottom: 1px solid #989898;
	margin-bottom: 50px;
	padding: 50px 0px;
	text-align: center;
}

.calculator_page h1 {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 700;
	color: #666666;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0px;
    margin-bottom: 30px;
}

.calc_steps_name {
	display: none;
}

.calc_type_of_construction {
	text-align: center;
}

.calc_type_of_construction img {
	display: inline-block;
	vertical-align: top;
	margin: 0px 8px;
	cursor: pointer;
}

.calc_type_of_construction img:first-child {
	margin-left: 0px;
}

.calc_type_of_construction img:last-child {
	margin-right: 0px;
}

.need_other_construction {
	display: inline-block;
	padding: 12px 52px;
	border: 1px solid #f15f17;
	margin: 0 auto;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 600;
	color: #666666;
	font-size: 24px;
	text-decoration: none;
	margin-top: 0px;
	cursor: pointer;
}

.need_other_construction:hover,
.calc_price:hover {
	color: white;
	background-color: #f15f17;
}

.message {
	text-align: center;
}

.calculator_body {
	text-align: center;
	margin-bottom: 50px;
}

.calc_price {
	display: inline-block;
	width: 228px;
	border: 1px solid #f15f17;
	margin: 0 auto;
	padding: 8px 0px;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	color: #666666;
	font-size: 24px;
	text-decoration: none;
	margin-top: 30px;
	cursor: pointer;
	text-align: center;
	/*height: 60px;*/
}

input[type="text"] {
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.calculated_price_block {
	display: inline-block;
	width: 755px;
	height: 95px;
	border: 2px solid #dadada;
	border-radius: 3px;
	margin: 5px 0px 30px 0;
	text-align: center;
	padding-top: 10px;
	vertical-align: middle;
}

.calculated_full_price,
.calculated_sale,
.calculated_price_with_sale {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 30px;
	position: relative;
}

.size-block {
	min-height: 450px;
}

.calculated_price_block_value {
	font-size: 24px;
}

.calculated_price_block_name{
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 100;
	color: #666666;
	font-size: 18px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 4px;
}

.calculated_price_block_value {
	color: #228648;
}

.calculated_price_block_name,
.calculated_price_with_sale_name {
	text-transform: uppercase;
}

.calculated_price_with_sale_name,
.calculated_price_with_sale_value {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 700;
	color: #666666;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 4px;
	text-align: center;
}

.calculated_price_with_sale_value {
	color: #f15f17;
	font-size: 30px;
}

.calculated_full_price:after,
.calculated_sale:after {
	content: '';
	display: block;
	width: 1px;
	height: 48px;
	background-color: #d1d1d1;
	position: absolute;
	right: 0px;
	top: calc(50% - 34px);
}

.calculator_recall_me {
	display: inline-block;
	width: 270px;
	padding: 8px 10px;
	border: 1px solid #f15f17;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: #666666;
	/*vertical-align: middle;*/
	cursor: pointer;
	margin-left: 30px;
	/*height: 60px;*/
}

.calculator_recall_me:hover {
	background-color: #f15f17;
	color: white;
}

.calc_characteristics_left,
.calc_characteristics_right {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

.calc_characteristics_left_item {
	width: 200px;
	padding: 10px 15px 10px 20px;
	margin-bottom: 30px;
	border: 1px solid #228648;
	color: #666666;
	text-align: left;
	position: relative;
	cursor: pointer;
}

.calc_characteristics_left_item span {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
}

.calc_characteristics_left_item .small_item_name {
	font-size: 12px;
	position: absolute;
	top: -16px;
	left: 10px;
}

.calc_characteristics_left_item.notactive_item {
// background-color: #d8d8d8;
// border-color: #b1b1b1;
// color: #a2a2a2;
//    cursor: not-allowed;
	display: none;
}

.calc_characteristics_left_item .fa-angle-down {
	position: absolute;
	top: calc(50% - 8px);
	right: 18px;
}

.error-show {
	font-size: 25px;
	font-weight: 700;
	color: red;
	text-align: center;
}

.calc_characteristics_left_item ul {
	width: inherit;
	list-style: none;
	padding: 10px;
	margin: 0px;
	border: 1px solid #228648;
	background-color: white;
	position: absolute;
	top: 45px;
	left: -1px;
	z-index: 9999;
}

.calc_characteristics_left_item ul li {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.calc_characteristics_left_item ul li:hover {
	background-color: #228648;
	color: white;
}

.calc_size_characteristics {
	display: inline-block;
	width: 650px;
	vertical-align: top;
	margin-left: 74px;
	margin-top: 60px;
	position: relative;
}

#height_slider,
#width_slider {
	position: relative;
}

#height_slider {
	width: 2px;
	height: 310px;
	margin-bottom: 20px;
	background-color: #228648;
	border-color: #228648;
}

#width_slider {
	height: 2px;
	width: 495px;
	background-color: #228648;
	border-color: #228648;
	margin-left: 20px;
}

#height_slider #contentSliderHeight {
	top: -51px;
	left: -51px;
	width: 100px;
	border: none;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	font-size: 22px;
	padding: 4px 7px;
	color: #228648;
	text-align: center;
	position: absolute;
}

#height_slider .height_slider_input_wrap {
	position: relative;
}

#height_slider .height_slider_input_wrap:after {
	content: 'мм';
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #228648;
	position: absolute;
	right: -52px;
	top: -40px;
}

#width_slider #contentSliderWidth {
	right: -101px;
	top: -21px;
	width: 100px;
	border: none;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	font-size: 22px;
	padding: 4px 7px;
	color: #228648;
	text-align: center;
	position: absolute;
}

#height_slider .ui-slider-handle.ui-state-default.ui-corner-all {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
	background-color: #228648;
	background: #228648;
	border-radius: 50%;
	margin: 0px;
	left: -10px;
	bottom: -5px;
	outline: none;
	cursor: pointer;
}

#width_slider .ui-slider-handle.ui-state-default.ui-corner-all {
	width: 20px;
	height: 20px;
	border: none;
	background-color: #228648;
	background: #228648;
	border-radius: 50%;
	margin: 0px;
	left: -6px;
	top: -10px;
	outline: none;
	cursor: pointer;
}

#width_slider .width_slider_input_wrap {
	position: relative;
}

#width_slider .width_slider_input_wrap:after {
	content: 'мм';
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #228648;
	position: absolute;
	right: -105px;
	top: -10px;
}

.coordinate_start {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #228648;
	position: absolute;
	left: -26px;
	top: -15px;
}

.win_in_calc {
	width: 450px;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0px;
	left: 65px;
}


#width_slider_balcon_top {
	height: 2px;
	width: 495px;
	background-color: #228648;
	border-color: #228648;
	margin-left: 20px;
	position: relative;
	top: -75px;
}

#width_slider_balcon_top .ui-slider-handle.ui-state-default.ui-corner-all {
	width: 20px;
	height: 20px;
	border: none;
	background-color: #228648;
	background: #228648;
	border-radius: 50%;
	margin: 0px;
	left: -6px;
	top: -10px;
	outline: none;
	cursor: pointer;
}

#width_slider_balcon_top #contentSliderWidthTop {
	right: -110px;
	top: -18px;
	width: 110px;
	border: none;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	font-size: 22px;
	padding: 4px 7px;
	color: #228648;
	text-align: center;
	position: absolute;
}

#width_slider_balcon_top .width_slider_input_wrap:after {
	content: 'мм';
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #228648;
	position: absolute;
	right: -102px;
	top: -6px;
}

#height_slider_balcon_right {
	width: 2px;
	height: 310px;
	margin-bottom: 20px;
	background-color: #228648;
	border-color: #228648;
	position: absolute;
	top: 5px;
	right: 38px;
}

#height_slider_balcon_right .ui-slider-handle.ui-state-default.ui-corner-all {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
	background-color: #228648;
	background: #228648;
	border-radius: 50%;
	margin: 0px;
	left: -10px;
	bottom: -5px;
	outline: none;
	cursor: pointer;
}

#height_slider_balcon_right #contentSliderHeightRight {
	width: 100px;
	border: none;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	font-size: 22px;
	padding: 4px 7px;
	color: #228648;
	text-align: center;
	position: absolute;
	right: -51px;
	top: -53px;
}

#height_slider_balcon_right .height_slider_input_wrap:after {
	content: 'мм';
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #228648;
	position: absolute;
	right: -55px;
	top: -42px;
}

.calc_characteristics_right {
	vertical-align: top;
	margin-left: 50px;
}

.calc_characteristics_right_item p {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #666666;
	text-align: left;
	margin-top: 0px;
}

.calc_characteristics_right_item.notactive_item {
	display: none;
}

.notactive_item {
	display: none;
}

/*// .calc_characteristics_right_item.notactive_item .radio-custom {
   // 	border-color: #bcbcbc;
   // }

// .calc_characteristics_right_item.notactive_item .radio:checked + .radio-custom::before {
   // 	background: #bcbcbc;
   // }*/

span.balcon_char_names {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: normal;
	font-size: 16px;
}

span.balcon_char_names.win_h {
	position: absolute;
	top: 42%;
	left: -10px;
	transform: translate(0,-50%) rotate(-90deg);
}

span.balcon_char_names.win_w {
	position: absolute;
	bottom: 18px;
	left: 46%;
	transform: translate(-50%, 0);
}

span.balcon_char_names.balc_w {
	position: absolute;
	top: -60px;
	left: 46%;
	transform: translate(-50%, 0);
}

span.balcon_char_names.balc_h {
	position: absolute;
	top: 41%;
	right: 20px;
	transform: translate(0, -50%) rotate(90deg);
}


.select_char {
	text-align: left;
	margin-bottom: 20px;
}

.select_char span.label {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666666;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 20px;
}

.radio {
	display: none;
}

.radio-custom {
	width: 17px;
	height: 17px;
	border: 2px solid #228648;
	border-radius: 3px;
	position: relative;
}

.radio-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #228648;
	border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
	border-radius: 50%;
}


.calc_full_description p {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 400;
	color: #666666;
	font-size: 18px;
	margin-bottom: 15px;
}

.calc_full_description p .fa.fa-check-circle-o {
	margin-right: 10px;
}

.calc_full_description .calc_full_description_ttl {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	color: #666666;
	font-size: 30px;
	text-align: center;
}

.calc_full_description .calc_full_description_part_name {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 500;
	color: #666666;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.main_calculator_banner {
	width: 100%;
}

.notactive {
	display: none;
}

.popup {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	transition: 0.3s;
}

.calc_popup_form,
.calc_other_consultation {
	width: 320px;
	background-color: white;
	border: 5px solid #eee;
	padding: 40px 20px 20px;
	opacity: 1;
	z-index: 10000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close_calc_popup_form {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #d0d0d0;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.close_calc_popup_form:hover,
.close_calc_popup_form:focus,
.close_calc_popup_form:active {
	border-color: #f15f17;
}

.close_calc_popup_form:hover span,
.close_calc_popup_form:focus span,
.close_calc_popup_form:active span {
	background-color: #f15f17;
}

.close_calc_popup_form span {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #d0d0d0;
	position: absolute;
	top: 50%;
	left: 0px;
}

.close_calc_popup_form span:first-child {
	transform: rotate(45deg);
}

.close_calc_popup_form span:last-child {
	transform: rotate(-45deg);
}

.body_popup_active {
	overflow: hidden;
}

.calc_characteristics_left_item .below-steklopaket {
	top: 70px;
}
.calc_characteristics_left_item .below-furnitura {
	top: 70px;
}

#calc_popup_form, #calc_other_consultation {
	text-align: center;
}

#calc_popup_form > p, #calc_other_consultation > p {
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #666666;
	margin-top: 0px;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

#calc_popup_form input, #calc_other_consultation input {
	width: 260px;
	padding: 10px 0px;
	border: 1px solid #666666;
	padding-left: 10px;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #666666;
	text-align: left;
	outline: none;
}

#calc_popup_form button, #calc_other_consultation button {
	width: 260px;
	background-color: #f15f17;
	border: 1px solid #f15f17;
	padding: 10px 0px;
	color: white;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 700;
	font-size: 21px;
	cursor: pointer;
	outline: none;
}

#calc_popup_form button:hover, #calc_other_consultation button:hover {
	background-color: white;
	color: #666666;
}


#calc_popup_form .name,
#calc_popup_form .email,
#calc_popup_form .tel,
#calc_other_consultation .name,
#calc_other_consultation .email,
#calc_other_consultation .tel,
#calc_other_consultation .your-question-field {
	margin-bottom: 20px;
	text-align: center;
}

.your-question {
	resize: none;
	width: 100%;
	height: 150px;
	border: solid 1px;
}

.msh-no-valid {
	color: red;
}

.calc-result-price {
	color: red;
	text-align: center;
}
.calc-result-price h5 {
	font-size: 16pt;
}

@media (min-width: 375px) and (max-width: 768px) {
	.calculator_wrapper {
		width: 100%;
	}

	.calculator_page h1 {
		font-size: 24px;
		font-weight: 700;
	}

	.calc_type_of_construction img {
		margin: 6px;
	}

	.calc_type_of_construction img:nth-child(1),
	.calc_type_of_construction img:nth-child(2) {
		width: 31px;
		height: 63px;
	}

	.calc_type_of_construction img:nth-child(3) {
		width: 65px;
		height: 63px;
	}

	.calc_type_of_construction img:nth-child(4) {
		width: 66px;
		height: 84px;
	}

	.calc_type_of_construction img:nth-child(5),
	.calc_type_of_construction img:nth-child(6) {
		width: 98px;
		height: 63px;
	}

	.calc_type_of_construction img:nth-child(7) {
		width: 131px;
		height: 63px;
	}

	.calc_type_of_construction img:nth-child(8) {
		width: 73px;
		height: 101px;
	}

	.calc_type_of_construction img:nth-child(9) {
		width: 107px;
		height: 101px;
	}

	.calc_type_of_construction img:nth-child(8),
	.calc_type_of_construction img:nth-child(9) {
		margin: 6px 21px;
	}

	.need_other_construction {
		display: inline-block;
		padding: 10px 20px;
		color: #666666;
		font-size: 18px;
		margin-top: 30px;
	}

	.calc_steps_name {
		display: block;
		font-family: 'Myriad Pro', sans-serif;
		font-weight: 700;
		color: #666666;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	.calc_full_description p {
		font-size: 16px;
	}

	.calc_full_description .calc_full_description_ttl {
		font-size: 24px;
	}

	.calc_full_description .calc_full_description_part_name {
		font-size: 18px;
	}

	.calc_head {
		margin-bottom: 25px;
	}

	.calculator_body {
		margin-bottom: 30px;
	}

	.calc_characteristics_left,
	.calc_characteristics_right {
		display: block;
	}

	.calc_characteristics_left_item span {
		font-size: 15px;
	}

	.calc_characteristics_left_item .small_item_name {
		font-size: 10px;
		position: absolute;
		top: -14px;
		left: 10px;
	}

	.calc_characteristics_left_item {
		display: inline-block;
		width: 170px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 20px;
		vertical-align: top;
	}

	.calc_characteristics_left_item:nth-child(2n) {
		margin-left: 14px;
	}

	.calc_characteristics_left_item:nth-child(2n+1) {
		margin-right: 14px;
	}

	.calc_characteristics_left_item ul {
		position: absolute;
		top: 38px;
	}

	.calc_characteristics_left_item ul li {
		font-size: 15px;
		padding-left: 0px;
	}

	.calc_size_characteristics {
		display: block;
		width: 375px;
		margin: 0 auto;
		padding-left: 10px;
		margin-top: 90px;
	}

	#height_slider {
		height: 158px;
		margin-bottom: 20px;
		position: relative;
		top: 5px;
	}

	.win_in_calc {
		width: 245px;
		height: 135px;
		background-size: contain;
		position: absolute;
		top: 0px;
		left: 50px;
	}

	#height_slider .ui-slider-handle.ui-state-default.ui-corner-all {
		width: 13px;
		height: 13px;
		border: none;
		left: -6.5px;
	}

	.coordinate_start {
		font-size: 23px;
		position: absolute;
		left: -21px;
		top: -16px;
	}

	#width_slider {
		width: 272px;
		margin-left: 15px;
	}

	#width_slider .ui-slider-handle.ui-state-default.ui-corner-all {
		width: 13px;
		height: 13px;
		top: -6.5px;
	}

	#height_slider #contentSliderHeight {
		width: 35px;
		border: 1px solid #228648;
		font-family: 'Myriad Pro', sans-serif;
		font-weight: 400;
		font-size: 12px;
		padding: 4px 0px;
		color: #228648;
		text-align: center;
		position: absolute;
		top: -50px;
		left: -15px;
	}

	#height_slider .height_slider_input_wrap:after {
		font-size: 10px;
		position: absolute;
		right: -39px;
		top: -40px;
	}

	#width_slider #contentSliderWidth {
		width: 35px;
		font-size: 12px;
		padding: 4px 0px;
		position: absolute;
		right: -53px;
		top: -12px;
	}

	#width_slider .width_slider_input_wrap:after {
		font-size: 10px;
		position: absolute;
		right: -71px;
		top: -6px;
	}

	#width_slider_balcon_top {
		width: 272px;
		margin-left: 0px;
		position: relative;
		top: -55px;
	}

	#width_slider_balcon_top #contentSliderWidthTop {
		width: 35px;
		font-size: 12px;
		padding: 4px 0px;
		position: absolute;
		right: -53px;
		top: -12px;
	}

	#width_slider_balcon_top .ui-slider-handle.ui-state-default.ui-corner-all {
		width: 13px;
		height: 13px;
		top: -6.5px;
	}

	#width_slider_balcon_top .width_slider_input_wrap:after {
		font-size: 10px;
		position: absolute;
		right: -70px;
		top: -6px;
	}

	#height_slider_balcon_right {
		height: 158px;
		position: absolute;
		top: 5px;
		right: 46px;
	}

	#height_slider_balcon_right #contentSliderHeightRight {
		width: 35px;
		font-size: 12px;
		padding: 4px 0px;
		position: absolute;
		top: -42px;
		left: -18px;
	}

	#height_slider_balcon_right .height_slider_input_wrap:after {
		font-size: 10px;
		position: absolute;
		right: -36px;
		top: -36px;
	}

	#height_slider_balcon_right .ui-slider-handle.ui-state-default.ui-corner-all {
		width: 13px;
		height: 13px;
		left: -6.5px;
	}

	.calc_characteristics_right {
		margin-left: 0px;
		margin-top: 50px;
		text-align: center;
	}

	.calc_characteristics_right_item {
		display: inline-block;
		margin: 5px 20px;
	}

	.calc_characteristics_right_item p {
		font-size: 15px;
		margin-bottom: 5px;
	}

	.select_char span.label {
		font-size: 13px;
		margin-left: 5px;
		margin-right: 15px;
	}

	.calculated_price_block {
		width: 100%;
		height: auto;
		margin: 30px 0px;
		padding-top: 15px;
	}

	.calculated_price_block_name,
	.calculated_price_block_value {
		font-size: 9px;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.calculated_price_with_sale_name,
	.calculated_price_with_sale_value {
		font-size: 9px;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.calculated_price_with_sale_value {
		font-size: 14px;
	}

	.calculated_full_price,
	.calculated_sale,
	.calculated_price_with_sale {
		padding: 0px 20px;
	}

	.calculator_recall_me {
		width: 170px;
		padding: 7px 0px;
		font-size: 15px;
		margin-left: 0px;
	}

	.calc_price {
		width: 170px;
		padding: 7px 0px;
		font-size: 15px;
		margin-top: 15px;
		display: inline-block;
	}

	span.balcon_char_names.balc_w {
		position: absolute;
		top: -46px;
		left: 46%;
		transform: translate(-50%, 0);
	}
}

@media (min-width: 375px) and (max-width: 410px) {
	.calc_characteristics_left_item {
		display: block;
		margin: 0 auto !important;
		margin-bottom: 20px !important;
	}

	.calc_characteristics_right_item {
		display: block;
		margin: 0px auto;
		text-align: center;
	}

	.calc_characteristics_right_item p {
		text-align: center;
	}

	.select_char {
		text-align: center;
		margin-bottom: 20px;
	}



}

@media (min-width: 560px) and (max-width: 768px) {
	.calc_characteristics_left_item:nth-child(2n+1) {
		margin-right: 0px;
	}

	.calc_characteristics_left_item:nth-child(2n) {
		margin-left: 0px;
	}

	.calculated_price_block_name,
	.calculated_price_block_value {
		font-size: 14px;
	}

	.calculated_price_with_sale_name,
	.calculated_price_with_sale_value {
		font-size: 16px;
	}
}

@media (min-width:769px) and (max-width: 992px) {
	.calculator_wrapper {
		width: 100%;
	}

	.calculator_page h1 {
		font-size: 24px;
		font-weight: 700;
	}

	.calc_type_of_construction img {
		margin-bottom: 20px;
	}

	.calc_steps_name {
		display: block;
		font-family: 'Myriad Pro', sans-serif;
		font-weight: 700;
		color: #666666;
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
	}

	.calc_characteristics_left,
	.calc_characteristics_right {
		display: block;
		vertical-align: top;
		width: 100%;
	}

	.calc_characteristics_left_item {
		display: inline-block;
		width: 200px;
		margin: 20px;
	}

	.calc_characteristics_right {
		margin-top: 50px;
		margin-left: 0px;
	}

	.calc_characteristics_right_item {
		display: inline-block;
		margin: 0px 10px;
	}

	.calc_size_characteristics {
		margin-top: 65px;
	}
}

@media (min-width: 993px) and (max-width: 1200px) {
	.calculator_wrapper {
		width: 100%;
	}

	.calc_type_of_construction img {
		margin: 10px;
	}

	.calc_steps_name {
		display: block;
		font-family: 'Myriad Pro', sans-serif;
		font-weight: 700;
		color: #666666;
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
	}

	.calc_characteristics_left_item {
		display: inline-block;
	}

	.calc_characteristics_left,
	.calc_characteristics_right {
		display: block;
	}

	.calc_characteristics_right {
		margin-left: 0px;
		margin-top: 70px;
	}

	.calc_characteristics_right_item {
		display: inline-block;
		margin: 0px 10px;
	}

	.calc_size_characteristics {
		margin-top: 75px;
	}

	.calculated_price_block_name,
	.calculated_price_block_value {
		font-size: 20px;
	}
}